---
title: Glory Metal Works
cta: CONTACT US
cta_link: /contact
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include b_head.html %}
    <script src='https://james-koduah.github.io/full_display_images/app.js'></script>
    <link rel="stylesheet" href="/static/home/home.css">
    <script src="/static/home/home.js"></script>
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
</head>
<body>
    {% include b_nav.html %}
    <section id="hero">
        <div id="hero_cover"></div>
        <div id="hero_main">
            <h1><span>MAGNIFICIENT</span> METAL WORKS & DESIGN <span>SERVICE</span></h1>
            <p>
                Find reliable metal works services for various home-building projects, 
                with custom quality metal works.
                Get metal a service that meets design and structural requirements
            </p>
            <a href="/contact/" class="action_button">Let's Talk</a>
            <p><strong>Call Now: 0559874325</strong></p>
        </div>
    </section>

    <section id="services">
        <header id="services_header"><i>S</i>ERVICES</header>

        <div id="services_roll">
            <div class="service">
                <div class="service_img"><img src="/images/road_rail1.jpeg" alt=""></div>
                <div class="service_text">
                    <header>GUARD RAILS</header>
                    <p>
                        We make strong and reliable guard rails. 
                        Our guard rails keep people safe and look good too. 
                        Made from top-quality materials, they are built to last.
                    </p>
                    <a href="" class="action_button">Explore</a>
                </div>
            </div>
            <div class="service">
                <div class="service_img"><img src="/images/stairs.webp" alt=""></div>
                <div class="service_text">
                    <header>BANNISTER</header>
                    <p>
                        Sturdy and stylish bannisters. Our bannisters add safety and elegance
                        to any space. Crafted with care and precision, 
                        they can be customized to suit your style.
                    </p>
                    <a href="" class="action_button">Explore</a>
                </div>
            </div>
            <div class="service">
                <div class="service_img"><img src="/images/fence1.webp" alt=""></div>
                <div class="service_text">
                    <header>METAL FENCES</header>
                    <p>
                        Our fences offer security and curb appeal for your property. 
                        Easy to maintain and built to endure, with various designs available
                        to elevate your property.
                    </p>
                    <a href="" class="action_button">Explore</a>
                </div>
            </div>
        </div>
    </section>

    <section class="info_div">
        <div class="info_img"><img src="/images/worker1.jpg" alt=""></div>
        <div class="info_text">
            <header><span>HIGH QUALITY.</span> RELIABLE. TRUSTWORTHY</header>
            <p>
                We deliver top-quality metalwork you can count on. Every project is made with care using the best materials.
                We finish on time and build trust with clear communication and great service. 
                Choose MasterCraft Metalworks for metalwork that lasts.
            </p>
            <a href="" class="action_button">OUR PROJECTS</a>
        </div>
    </section>
    
    <section id="reviews">
        <header id="reviews_header">CUSTOMER REVIEWS</header>
        <div id="reviews_roll">
            <div class="review">
                <p>
                    Glory Metalworks did an incredible job on the custom metal 
                    fence for our backyard. The quality of their work is top-notch, 
                    and the team was very professional throughout the entire process.
                </p>
                <header>
                    - John D.
                </header>
            </div>
            <div class="review">
                <p>
                    We needed sturdy guard rails for our office building, and Glory Metalworks exceeded our expectations. 
                    Their craftsmanship is excellent, and the installation was quick and seamless.
                    The guard rails look great and provide the safety we required. We'll definitely be using their services again for future projects.
                </p>
                <header>
                    - Sarah
                </header>
            </div>
            <div class="review">
                <p>
                    Had a fantastic experience with Glory Metalworks! They designed and installed beautiful bannisters for our home renovation. 
                    The attention to detail and quality of materials used were impressive. The team was friendly,
                    knowledgeable, and very easy to work with. We are thrilled with the results!
                </p>
                <header>
                    - Michael
                </header>
            </div>
        </div>
        <a href="" class="action_button show_more">SHOW MORE</a>
    </section>

    <section id="shop">
        <header id="shop_header"><i>B</i>UY</header>
        <div id="shop_roll">
            <div class="product">
                <div class="product_img"><img src="/images/gate1.jpeg" alt="" class="p_img"></div>
                <div class="product_text">
                    <header>Metal Gate</header>
                    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iusto, adipisci.</p>
                    <a href="" class="action_button">Order</a>
                </div>
            </div>
            <div class="product">
                <div class="product_img"><img src="/images/cage1.jpg" alt="" class="p_img"></div>
                <div class="product_text">
                    <header>Pet Cages</header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam, laborum..</p>
                    <a href="" class="action_button">Order</a>
                </div>
            </div>
            <div class="product">
                <div class="product_img"><img src="/images/furniture.jpg" alt="" class="p_img"></div>
                <div class="product_text">
                    <header>Metal Table</header>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus, unde!</p>
                    <a href="" class="action_button">Order</a>
                </div>
            </div>
            <div class="product">
                <div class="product_img"><img src="/images/windows.jpeg" alt="" class="p_img"></div>
                <div class="product_text">
                    <header>Window</header>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis, culpa!</p>
                    <a href="" class="action_button">Order</a>
                </div>
            </div>
        </div>
        
        <a href="" class="action_button show_more">SHOW MORE</a>
    </section>

    <section id="contact">
        <div id="contact_cover"></div>
        <div id="contact_main">
            <header>TALK <span>TO</span> US</header>
            <p>Let's start your project</p>
            <a href="/contact/" class="action_button">CONTACT US</a>
        </div>
    </section>

    {% include footer.html %}
    
    <script>
        if (window.netlifyIdentity) {
          window.netlifyIdentity.on("init", user => {
            if (!user) {
              window.netlifyIdentity.on("login", () => {
                document.location.href = "/admin/";
              });
            }
          });
        }
    </script>
</body>

</html>