---
title: Glory Metal Works
cta: CONTACT US
cta_link: /contact
---
<!DOCTYPE html>
<html lang="en">
<head>
    {% include b_head.html %}
    <link rel="stylesheet" href="/static/home/home.css">
    <script src="/static/home/home.js"></script>
</head>
<body>
    {% include b_nav.html %}
    <section id="hero">
        <div id="hero_cover"></div>
        <div id="hero_main">
            <h1><span>MAGNIFICIENT</span> METAL WORKS & DESIGN <span>SERVICE</span></h1>
            <p>
                Find reliable metal works services for various home-building projects, 
                with custom quality metal works.
                Get metal a service that meets design and structural requirements
            </p>
            <a href="/contact/" class="action_button">Let's Talk</a>
            <p><strong>Call Now: 0559874325</strong></p>
        </div>
    </section>

    <section id="services">
        <header id="services_header"><i>S</i>ERVICES</header>

        <div id="services_roll">
            <div class="service">
                <div class="service_img"><img src="/images/road_rail1.jpeg" alt=""></div>
                <div class="service_text">
                    <header>GUARD RAILS</header>
                    <p>
                        We make strong and reliable guard rails. 
                        Our guard rails keep people safe and look good too. 
                        Made from top-quality materials, they are built to last.
                    </p>
                    <a href="" class="action_button">Explore</a>
                </div>
            </div>
            <div class="service">
                <div class="service_img"><img src="/images/stairs.webp" alt=""></div>
                <div class="service_text">
                    <header>BANNISTER</header>
                    <p>
                        Sturdy and stylish bannisters. Our bannisters add safety and elegance
                        to any space. Crafted with care and precision, 
                        they can be customized to suit your style.
                    </p>
                    <a href="" class="action_button">Explore</a>
                </div>
            </div>
            <div class="service">
                <div class="service_img"><img src="/images/fence1.webp" alt=""></div>
                <div class="service_text">
                    <header>METAL FENCES</header>
                    <p>
                        Our fences offer security and curb appeal for your property. 
                        Easy to maintain and built to endure, with various designs available
                        to elevate your property.
                    </p>
                    <a href="" class="action_button">Explore</a>
                </div>
            </div>
        </div>
    </section>

    <section class="info_div">
        <div class="info_img"><img src="/images/worker1.jpg" alt=""></div>
        <div class="info_text">
            <header><span>HIGH QUALITY.</span> RELIABLE. TRUSTWORTHY</header>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Odio deserunt distinctio minima accusamus, aliquid veritatis vero eius eos, laborum impedit perferendis deleniti nesciunt quidem, debitis dolorum sit repellat! Nesciunt, natus.</p>
            <a href="" class="action_button">OUR PROJECTS</a>
        </div>
    </section>
    
    <section id="reviews">
        <header id="reviews_header">CUSTOMER REVIEWS</header>
        <div id="reviews_roll">
            <div class="review"></div>
            <div class="review"></div>
            <div class="review"></div>
        </div>
        <a href="" class="action_button">SHOW MORE</a>
    </section>

    <section id="contact">
        <div id="contact_cover"></div>
        <div id="contact_main">
            <header>TALK <span>TO</span> US</header>
            <p>Let's start your project</p>
            <a href="/contact/" class="action_button">CONTACT US</a>
        </div>
    </section>

    {% include footer.html %}
</body>
</html>