<footer>
    <header id="footer_header">GLORY METAL WORKS</header>
    <div id="footer_socials">
        <div id="footer_socials_m">
            <a href="" href="" class="footer_social"><ion-icon name="logo-whatsapp"></ion-icon></a>
            <a href="" href="" class="footer_social"><ion-icon name="logo-facebook"></ion-icon></a>
            <a href="" href="" class="footer_social"><ion-icon name="logo-instagram"></ion-icon></a>
        </div>
    </div>
    <div id="footer_nav">
        <div class="footer_nav_box">
            <header>WHERE WE WORK</header>
            <a href="">Greater Accra</a>
            <a href="">Volta Region</a>
            <a href="">Central Region</a>
            <a href="">Ashanti Region</a>
            <a href="">Brong Ahafo</a>
        </div>
        <div class="footer_nav_box">
            <header>OUR SERVICES</header>
            <a href="">Stairs Railings</a>
            <a href="">Balcony Railings</a>
            <a href="">Gates</a>
        </div>
        <div class="footer_nav_box">
            <header>NAVIGATE</header>
            <a href="">Projects</a>
            <a href="">Contact</a>
        </div>
    </div>
    <div id="footer_credits">
        <p>© 2024 GLORY METAL WORKS</p>
        <p>BUILT BY &nbsp; <span>JASKIN TECH</span></p>
    </div>
</footer>